.products{
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.product-card{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 20px;
}
.cart{
    background-color: #FF9900;
    text-align: center;
    color: #1C2B35;
    padding-top: 30px;
}